.elm_portal {
    border: 1px solid #C0C0C0;
    background-color: #E0E0E0;
}
.img_portal {
    height: 300px;
    padding: 10px;
    width: inherit;
}
.product {
    margin: 0px;
}
.btn-book {
    margin-left: 10px;
}
.btn-detail {
    margin-right: 10px;
}
.o_list_number_th {
    text-align: left !important;
}
.oe_left {
    text-align: left !important;
}
